

.navbar a{
    color: #fff; 
}

.navbar a:hover{
    color: yellowgreen; 
}

.navbar-brand{
 font-weight: bolder;
}

.inner{
    width: 35%;
    height: 35%; 
    margin-left: 35%;
    padding-top: 3%;
    border: none;
    padding-bottom: 15px;
}

.myc{ /* this is for main tag size */
width: 50%;
margin-left: 25%;
height: auto;

}

.img{
    width: 100%;
    height: 100%;
}

.img-2{
    width: 100%;
    height: 100%;
    
}

.carousel-caption{
  
   text-align: left;
}

h5, p {
  color: #fff;  
}


